<?xml version="1.0"?>
<config>
  <modules>
    <DirectPay_DirectPay>
      <version>0.1.0</version>
    </DirectPay_DirectPay>
  </modules>
  <global>
    <models>
      <directpay>
        <class>DirectPay_DirectPay_Model</class>
      </directpay>
    </models>
    <helpers>
      <directpay>
        <class>DirectPay_DirectPay_Helper</class>
      </directpay>
    </helpers>
    <blocks>
      <directpay>
        <class>DirectPay_DirectPay_Block</class>
      </directpay>
    </blocks>
  </global>
  <default>
    <payment>
      <directpay>
        <model>directpay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>directpay</title>
        <payment_action>sale</payment_action>
        <sort_order>1</sort_order>
      </directpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <directpay>
        <use>standard</use>
        <args>
          <module>DirectPay_DirectPay</module>
          <frontName>directpay</frontName>
        </args>
      </directpay>
    </routers>
  </frontend>
</config>
